@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

.App-Background {
    height: 100vh;
    background-color: #212529;
    color: #FFF;
    font-family: 'IBM Plex Sans', sans-serif;
}

.Header-Style {
    font-weight: 700;
}

.Subheader-Style {
    color: #6c757d;
}
